<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_feature_player">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name="com.omsharma.playerstats.PlayerStatsActivity"
            android:exported="true"
            android:label="@string/title_activity_player_stats"
            android:theme="@style/Theme.CrikStats">
            <!-- Add this intent filter -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="crikstats"
                    android:host="player" />
            </intent-filter>
        </activity>
    </application>

</manifest>